#container {
    width: 500px;
    height:500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-start;
    background-color: blue;
    border: 5px solid black;
}

.theDiv {
    height: 7.8125px;
    width: 7.8125px;
    background-color: purple;
    flex: 1 1 auto;
}

.hover {
    background-color: black;
}

header{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto 10px auto;
}